
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Indie+Flower&display=swap');

body {
background-color: rgb(168, 154, 134);

}

.heading{
    text-align: center;
}

.playground-heding{
    color: black;
    font-family: 'Indie Flower', cursive;
    font-size: 5rem;

}

.main{

    border: 3px solid blue; 
    width: 55%; 
    margin: 1rem auto;

}

.main div {
height: 200px;
width: 200px;
border: 1px solid black;
border-radius: 50%;
margin: 2rem auto


}

#red{
    border-color: red
}

#green{
border-color: green
}

#blue{
    border-color: blue
}

.footer{

    font-family: 'Dancing Script', cursive;
    font-size: 2rem;
    text-align: center
    
}